
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link asp-href-include="app*.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script asp-src-include="app*.js"></script>
</body>
</html>
